<h1 style = "font-size:4rem;color:orange;" >FOR LOOP STATEMENT</h1>

<h1 style = "font-size:3rem;color:red;" >Introduction</h1>

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).


This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.


With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

#### Example

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

# 1. Looping through  String

Even strings are iterable objects, they contain a sequence of characters:

In [2]:
for x in "banana":
  print(x)

b
a
n
a
n
a

<h1 style = "font-size:3rem;color:red;" >The range() Function</h1>

To loop through a set of code a specified number of times, we can use the range() function,


The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

##  Example

In [5]:
for x in range(6): #It iterate from the zero by default and end at the specified value
    print("hello",x)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5

__The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):__

## 1. range function using start parameter

In [15]:
for a in range(2,6): #the default value of range fuction is zero but in this case we provide the starting value
    print(a)

2
3
4
5

__The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):__

## 2. range function using increament sequence

In [18]:
for x in range(2, 20, 3):
  print(x)

2
5
8
11
14
17

In [20]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

<h1 style = "font-size:3rem;color:red;" >The break Statement</h1>

By using the __break__ statement we can stop the iteration of the loop for the given conditions.

In [6]:
for a in range(4):
    if(a == 3):
        break
    print(a)

0
1
2

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

<h1 style = "font-size:3rem;color:red;" >The Countinue Statement</h1>

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [12]:
for a in range(6): 
    if (a == 3):
        continue #it skip the value 3 and print rest of the values 
    print(a)

0
1
2
4
5

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

<h1 style = "font-size:3rem;color:red;" >Nested For Loop</h1>

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [24]:
a=[1,2]
b=[3,4]
for x in a:
    for y in b:
        print(x,y)

1 3
1 4
2 3
2 4