<h1 style = "font-size:4rem;color:orange;" >Python Tuple</h1>

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

__A tuple is a collection which is ordered and unchangeable (immutable)__.

Tuples are written with round brackets.

In [2]:
t=("hello","lufy","Ace","White beard")
print(t)
print(type(t))

('hello', 'lufy', 'Ace', 'White beard')
<class 'tuple'>

<h1 style = "font-size:3rem;color:red;" >Create Tuple With One Item</h1>

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [3]:
t=("hello",) # Here this is the Tuple 
t1=("hello") # This is not a Tuple it is a string
print(type(t))
print(type(t1))

<class 'tuple'>
<class 'str'>

## tuple() method

This method is used to convert the list into tuple.

In [5]:
l=[1,2,3,4,5,"Abhi"]
print(tuple(l))

(1, 2, 3, 4, 5, 'Abhi')

<h1 style = "font-size:3rem;color:red;" >Access Tuple Items</h1>

You can access tuple items by referring to the index number, inside square brackets:

In [6]:
t=("hello","lufy","Ace","White beard")
print(t[1])
print(t[-2])
print(t[2:4])

lufy
Ace
('Ace', 'White beard')

<h1 style = "font-size:3rem;color:red;" >Update Tuples</h1>

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

__But there are some workarounds.__

__You can convert the tuple into the list and then do all the stuff you want and then convert it back into the tuple using tuple() method__

## 1. Change Tuple Values

In [7]:
t=("apple", "banana", "cherry")
l=list(t)
l[1]="orange"
t=tuple(l)
print(t)

('apple', 'orange', 'cherry')

## 2. Add Items

You are allow to add the tuple to the tuple.

In [8]:
t=("apple", "banana", "cherry")
l=list(t)
l.append("orange")
t=tuple(l)
print(t)

('apple', 'banana', 'cherry', 'orange')

In [2]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## 3. Remove Items

In [9]:
t=("apple", "banana", "cherry")
l=list(t)
l.remove("apple")
t=tuple(l)
print(t)

('banana', 'cherry')

or you can delete the tuple completely by using the __del method__

In [10]:
t=("apple", "banana", "cherry")
del t
print(t) #this code give error because the tuple t is not exist anymore

NameError: name 't' is not defined

In [3]:
fruits = ("apple", "banana", "cherry")

(red,yellow,green) = fruits

print(green)
print(yellow)
print(red)

cherry
banana
apple

__Tupel are iterable mean we can use tuple in the for loops and while loops__

## 5. Join Two Tuples and Multiplication

In [4]:
t=("hello","my","name is")
t1=("Abhishek",)
print(t+t1)

('hello', 'my', 'name is', 'Abhishek')

In [5]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

If you want to learn more go to this website https://www.w3schools.com/python/python_tuples.asp